h2 Companies worked for

section
	span.year 2020 - 2023
	span.company Magyar Telekom Kft. (HO)
	ul.responsibility
		li responsive desktop admin UI senior developer

section
	span.year 2018 - 2020
	span.company talentuno.com (4:1 HO)
	ul.responsibility
		li lead frontend developer
		li desktop admin developer
		li desktop and mobile application developer
		li UX consultant
section
	span.year 2015 - 2018
	span.company byryby.com (4:1 HO)
	ul.responsibility
		li admin UI developer
		li API developer

section
	span.year 2014 - 2015
	span.company Dotindot Kft. (2:3 HO)
	ul.responsibility
		li lead frontend developer
		li UX consultant
		li management consultant

section
	span.year 2013 - 2014
	span.company Moresimp &amp; HumanoIT
	ul.responsibility
		li senior frontend developer

section
	span.year 2013 - 2015
	span.company Premiumolaj Kft.
	ul.responsibility
		li frontend developer
		li UX consultant
		li marketing consultant
section
	span.year 2011 - 2013
	span.company Hewlett-Packard’s HP.com (2:3 HO)
	ul.responsibility
		li senior full stack developer
		li UX consultant
		li management consultant

section
	span.year 2010 - 2011
	span.company Musketeer Games
	ul.responsibility
		li lead developer

section
	span.year 2003 - 2010
	span.company Levitator Media, Nexife
	ul.responsibility
		li web designer,
		li full stack developer, owner

section
	span.year 1999 - 2010
	span.company Nokia Hungary Kft (Nokia Siemens Networks)
	ul.responsibility
		li senior dev at statistics
		li senior dev at call monitoring
		li mobile phone prototype tester