h2 Ongoing hobby projects

section.hobbies
	ul
		li Microcontroller automation programming (ambient LED with UI and versatile interface, smart garage and gate control, standing desk automation)

		li
			| Open Broadcasting Software automation (open source, used even in an American radio station)&nbsp;
			a(href='https://github.com/5ony/OBSWebSocketAHK' target='_blank' rel='noreferrer') OBSWebSocketAHK

		li Designing and building a keyboard from own PCB design

		li A small Japanese learning tutor application