html(lang='hu-HU')
	link(rel='stylesheet' href='style.css')
	head
		include head.pug
	body
		include personal-data.pug
		include projects.pug
		include companies.pug
		include knowledge.pug
		include hobby-projects.pug
		include personality.pug
		include footer.pug
		//- include motivation-letter.pug
