h2 Technical knowledge
section.knowledge
	span.level4 Javascript 
	span.level 4
	span.level4 Angular 
	span.level 4
	span.level4 TypeScript
	span.level 4
	span.level3 RxJS
	span.level 3
	span.level4 jQuery 
	span.level 4
	span.level4 HTML5 
	span.level 4
	span.level5 PUG
	span.level 5
	span.level4 (S)CSS 
	span.level 4
	span.level5 Stylus 
	span.level 5
	span.level2 Jasmine 
	span.level 2
	span.level3 NodeJS 
	span.level 3
	span.level1 Java 
	span.level 1
	span.level2 PHP 
	span.level 2
	span.level2 C, C++, Visual C#, 
	span.level 2
	span.level2 Wordpress
	span.level 2
	span.level4 Jira 
	span.level 4
	span.level4 Confluence
	span.level 4
	span.level4 Metawiki 
	span.level 4
	span.level4 AutoHotKey 
	span.level 4
	span.level4 Photoshop
	span.level 4
	span.level3 Rhino 3D 
	span.level 3
	span.level4 English 
	span.level 4
	span.level1 Japanese
	span.level 1
