h2 Small Motivation Letter

p After working for a multinational company for a decade and not seeing the real impact of my work, I decided to change the way I choose my work based on projects.

p I always was interested in 3D; used CAD in high school, started to learn 3D Studio Max, Maya and now Blender. I am usually using Rhinoceros 3D for small home projects, and at the moment I am using KiCAD PDB designer, so 3D and CAD is very familiar.

p I worked in a team and alone, many years in office, and home office as well. I prefer the latter for time and work efficiency reasons. I was managing teams from financial decision making to low level architecture, so I know why to take a certain work and how to develop it, how to present it to the customer. I never aimed for a project/team/high level manager title, even though I had the opportunity several times, yet I can manage projects and smaller teams.

p I am not a fan of repetitive work; my motto is that repetitive work can be done by computers, so making even the smallest script might help in the long run; sparing the time for that well deserved coffee break. For this reason (not the coffee, but to be more efficient), ideally I use two US keyboards: one is for typing, and the other is for automation.

p Most of the jobs I had were project based; I joined at the planning phase of projects and left when a project ended. As a software developer I know, a project can never end, but it is done when the software is working as desired.

p
	| Thank you for your consideration,
	| Sándor