img(src='profile-pic.jpg')
section.personal-data
	h1 Sándor Illés
	p
		| Software developer engineer, Hungary
	p#revealButton
		button(onclick='revealData()') Click to reveal more
	p
		a.hidden#mail(target='_blank' rel='noreferrer' href='')
	p
		a.hidden#phone(target='_blank' rel='noreferrer' href='')

	include personal-data-script.pug
