h2 Personality

section.personality
	ul
		li Open, but debating
		li Humanly accessable technical point of view
		li Automation nerd, vein for optimization
		li Love for 3D and VFX
		li Lifelong learner
		li Standing desk user
		li Biker and motorbiker
		li Snowboarder
		li Active lifestyle promoter