h2 Position related projects and responsibilities

section
	span.project Magyar Telekom Nyrt. Technology Security Center
	span.description
		| Identity Access Management for managing 80.000+ user's access request workflows, role assignments, roles and company related personal data
		| Dynamic and flexible form UI generation from 4 different data structures
		| custom translation tools
		| "excel to form" data import/export
		| tips and tricks
		| mobile/tablet friendly view for manager tasks

	span.responsibilities Angular 14.0, TypeScript, vanilla JS (for speeding up processing of large lists and tables), UI (Material), keep standardized SonarQube analysis above 95%, implementations to speed up management and development processes

section
	span.project Talentuno.com
	a.projectLink(href='https://www.talentuno.com') https://www.talentuno.com
	span.description Digital recruitment agency application and administrative interface, where anyone can be a recruiter, mobile application, translation tools
	span.responsibilities All Admin and Client Frontend (Angular 6+), UI (Material, Ionic), UX and development pipeline suggestions

section
	span.project Byryby.com
	a.projectLink(href='http://www.byryby.com') http://www.byryby.com
	span.description Application administration user interface for managing users, articles (products) and translations
	span.responsibilities All Frontend (AngularJS), UI, UX, customer support

section
	span.project WATWAY
	a.projectLink(href='http://www.vatway.com') http://www.vatway.com
	span.description
		| VAT compliance service web application to ease the European taxation process.
		| Visual, interactive, process flow based, tax related administration tool.
	span.responsibilities All Frontend (AngularJS, Three.js) , UI, UX, lean processes

section
	span.project RSMDTM rebranding
	a.projectLink(href='https://www.rsm.hu') https://www.rsm.hu
	span.description First use of own modular templating system and style guide for fast development.
	span.responsibilities Lead Frontend (framework tools for sitebuilders)

section
	span.project Pipeline creation for faster website building
	span.project Framework to generate small and large webpage elements for fast prototyping and conent publishing using PUG (HTML), Stylus (CSS) following Atomic Design principles
	span.responsibilities Full stack dev (NodeJS, PHP)

section
	span.project Universal money calculator
	span.description Tax, wage, etc. configurator for RSMDTM. Internal tool for the financial sector.
	span.responsibilities Lead Frontend (Vanilla JS, jQuery)

section
	span.project Hofstadter Intelligent Tile selector
	a.projectLink(href='http://csempe-shop.hu') http://csempe-shop.hu
	span.description Clever tile selector for customers
	span.responsibilities Lead Frontend (AngularJS, sitebuild)

section
	span.project Complex identity management system (IDM)
	span.description Administrative tools for managing user accounts
	span.responsibilities All Frontend (AngularJS) , UI, UX, lean processes

section
	span.project Service Level Management (SLM) admin webapp
	span.description Administrative tools, system connections and workflows
	span.responsibilities All Frontend (AngularJS) , UI, UX

section
	span.project Promotional web page framework for Hewlett Packard
	span.description Promotion builder tools for HP's webshop
	span.responsibilities Full stack dev (Javascript, Mootools, PHP), in-house tools for automating project manager tasks

section
	span.project GOAL - Game OF All Lifes
	span.description Multilingual, isometric game engine with depth order and pathfinding, animation system
	span.responsibilities Lead dev, architecture planning (OO ActionScript 3.0)

section
	span.project Automatized mass data management for webshops
	span.description Converting data formats between Excel files and web based databases.
	span.responsibilities Full stack dev (NodeJS, PHP)

section
	span.project Video tutorials
	span.description Most of the projects needs small (or long) tutorials, tips and tricks for new workforce and/or users
	span.responsibilities Planning, Recording

section
	span.project Many webpages and some webshop extensions
	span.description Extensions made for ShopRenter and WordPress
	span.responsibilities Full stack dev (PHP, UX, HTML, CSS, Javascript, local in-house tools)

section
	span.project Management processes
	span.description
		ul
			li Connecting Jira, Slack, Git, local developer and management tools
			li Plans and execution of full MVP pricing and offering of web related works
			li Plans and execution of effectively transferring office work to home office for companies less than 25 people
